body {
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

#searchBar {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
}

#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.result-item {
    background-color: #1e1e1e;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    width: 200px;
    text-align: left;
}
